<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<div class="flex-container">
    <div class="register">
        <p class="passreq">New classification must not contain any spaces or special characters</p>
        <form action="/inv/management/addclassification" method="post">
            <br><label for="classification_name" class="login"><b>Classification Name:</b></label><br>
            <input type="text" id="classification_name" name="classification_name" class="login" pattern="^[a-zA-Z0-9]*$" required><br>
            <input type="submit" value="Add Classification" class="login">
        </form>
    </div>
</div>