<h1><%- title %></h1>
<%- messages() %>
<h2><a href="/inv/management/addclassification">Add a new vehicle classification</a></h2>
<h2><a href="/inv/management/addvehicle">Add a new vehicle to the inventory</a></h2>
<h2>Manage Inventory</h2>
<p>Select a classification to see vehicles of that classification</p>
<select id="classificationList" name="classification_id"><%- dropdown %></select>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>